<div class="section login">
  <div class="container">
    <div class="one-half column">
        <h2 class="section-heading"> Stuff-App Log In </h2>
          <form action="/login" method="post">
            <label for="Email">Your Email</label>
              <input class="u-full-width" name="email" type="email" placeholder="Email" id="exampleEmailInput">
            <label for="Password">Your Password</label>
              <input class="u-full-width" name="password" type="password" placeholder="Password" id="examplepwInput">
            <input class="button button-primary" type="submit" value="Log In">
          </form>
        </div>

      <div class="one-half column">
        <h2 class="section-heading">Not Moving With Us Yet?</h2><br><br>
          <form action="/signup">
            <input class="button button-primary" type="submit" value="Sign Up">
          </form>
      </div>
    </div>  <!--close row-->

    <br><br>  <!--space breaking for home page button-->

      <div class="row">
        <div class="column">
          <a href="/" class="button"><strong>Home Page</strong></a>
        </div>
      </div>

  </div>    <!--close container-->
</div>      <!--close section-->
