<div class="section login">
  <div class="container">
    <div class="row">
      <div class="one-half column offset-by-three">

        <h1 class="section-heading"> Welcome <%= current_user.username%>! </h1>
        <br>
        <div class="row">
          <div class="one-third column offset-by-one">
            <a class="button button-primary" href="/moves/<%= current_user.id %>/new"> New Move</a>
          </div>
          <div class="one-third column offset-by-two">
        <a class="button button-primary" href="/moves/<%= current_user.id %>"> Previous Moves</a>
        </div>
        </div>
            <br><br>
        <form action="/owners/<%= current_user.id %>/edit">
          <input class="button" type="submit" value="Edit Account">
        </form>
        <form action="/logout">
          <input class="button "type="submit" value="Log Out">
        </form>

      </div>
    </div>
  </div>
</div>
