<div class="section login">
  <div class="container">
    <div class="row">
      <div class="one-half column offset-by-three">

        <h2 class="section-heading"> Stuff-App Sign Up </h2>
          <form action="/signup" method="post">
            <label for="Username">Username</label>
              <input class="u-full-width" name="username" type="username" placeholder="Username" id="username">
            <label for="Email">Email</label>
              <input class="u-full-width" name="email" type="email" placeholder="Email" id="email">
            <label for="Password">Password</label>
              <input class="u-full-width" name="password" type="password" placeholder="Password" id="password">
            <input class="button-primary" type="submit" value="Sign Up">
          </form>

          <br>

        <form action="/">
          <input class="button" type="submit" value="Home Page">
        </form>
      </div>
    </div>

  </div>
</div>
